/*! JiAwww v1.1 *//*!
 *  Desing by JuziYou
 *  Other style sheet
*/
header{
	height:30em;
}
header .background,header .background .shelter{
	height:30em;
}
header .title{
	text-align:center;
	color:#FFF;
	margin-top:5em;
	opacity:0.8;
}
/* 文字logo */
header .title .mod-1 h3{
	display:inline;
	font-size:3.5em;
	font-weight:lighter;
}
/* Body */
body{
	background-color:rgb(245, 245, 245);
}
#body{
	background-color:#fff;
	padding:1.563rem;
	border-radius:20px;
	margin-top:-10em;
}
#body .title,#body .titleB{
	border-bottom:1px dashed #383838
}
#body hr{
	height:1px;
	border:none;
	border-top:1px dashed #383838
}
#body .title h3{
	margin:0 0 1em 0;
}
#body .title p,#body .textB p{
	text-indent:2em;
}
#body .text p,#body .textB p{
	line-height:1.5em;
}
#body .text img,#body .title img{
	border-radius:20px;
	max-width:100%
}
/* .code{ */
	
/* } */